{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class ="wrapperRegister">

    {{ form_start(registrationForm) }}
    <h1>Inscription</h1>
    <h5>1. Quel sport voulez-vous pratiquer ou pratiquez-vous ?</h5>
    {{ form_row(registrationForm.sport) }}
    <h5>2. Pour bien vous correspondre nous avons besoin d'informations</h5>
    {{ form_row(registrationForm.sexe) }}
    {{ form_row(registrationForm.age) }}
    {{ form_row(registrationForm.ville) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_errors(registrationForm.pseudo) }}
    <h5>3. Presque terminé. Comment voulez-vous vous connecter?</h5>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}